extends layout
block content
    h1= "Welcome to " + title + "!"
    p.
        Nice to see you. Perhaps you would like to go away now? Yes? Great! Why not try #{target}!? I hear it's nice over there...
    p
        | c c c c c l l l l l i i i i i c c c c c k k k k k - - - - - &gt;
        a(href=targetUrl, class=target)= target