extends layout
block content
    p="It's secure"
    p="It's home"
    p="It's "
        h1(style="max-width: 300px")
            big
                marquee(scrollamount="6")="SECURE HOME"
    p
        | Welcome to your secure homepage