extends layout
block content
    form(method="POST", class="login-container")
        input(name="user", id="email", type="text", placeholder="Username")
        input(name="password", id="password", type="password", placeholder="Password")
        input(type="submit", id="submit", value="Log in" )
