* {
    
    font-family: sans-serif;
    box-sizing: border-box;
    
}
html, body {
    
    margin: 0;
    
}
body {
    
    padding: 20px;
    
}
body, input, textarea, select, option {
    
    font-size: 14px;
    
}

#code {
    
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #eeeeee;
    min-height: 100px;
    margin: 10px 0;
    font-family: monospace;
    color: #333;
    border: solid 1px #CCC;
    border-radius: 3px;
    
}
#embedded-browser-container {

    margin: 10px 0 0 0;
    box-shadow: 0 0 10px 0 #aaaaaa;
    
}
#embedded-browser-controls {
    
    padding: 0;
    margin: 0;
    display: flex;
    
}
#embedded-browser-controls input {
    
    flex: 1;
    border: 0;
    padding: 0 10px;
    background-color: #EEEEEE;
    
}
#embedded-browser-controls button {
    
    margin: 0;
    border: none;
    
}
#embedded-browser {

    width: 100%;
    min-height: 600px;
    border: none;
    
}
nav {
    
    background-color: #EEE;
    
}
nav a {
    
    display: inline-block;
    padding: 10px 20px;
    
}
a:active {
    
    background-color: white;
    
}
.infos {
    
    overflow-x: hidden;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    
}
.infos li {
    
    font-size: 85%;
    border-radius: 5px;
    padding: 10px 20px;
    list-style: none;
    max-width: 400px;
    color: #555500;
    background-color: rgba( 255, 255, 200, 0.3 );
    margin-bottom: 5px;
    
}
.infos .error {
    
    background-color: rgba( 255, 0, 0, 0.5 );
    color: #550000;
    
}
.goes {
    
    transition: all 0.5s ease-in;
    opacity: 1;
    
}
.going { 
 
    transform: translate(100%);
    opacity: 0;
    
}
label {
    
    display: block;
    
}
label + label {
    
    margin-top: 10px;
    
}
label .label-text {
    
    min-width: 200px;
    background-color: #EEEEEE;
    white-space: nowrap;
    display: inline-block;
    
}
label .label-text,
label input,
label select {
    
    padding: 0 10px;
    line-height: 2.5em;
    height: 2.5em;
    
    
}
label input,
label select {
    
    min-width: 400px;
    border: solid 1px #EEEEEE;
    background-color: white;
    
}
button {
    
    margin: 10px 0;
    padding: 0 10px;
    height: 2.5em;
    min-width: 100px;
    
}
button + button {
    
    margin-left: 10px;
    
}
fieldset {
    
    padding: 0;
    border: 0;
    
}