extends layout-with-browser
    
mixin field( fieldDef )
    label
        span(class="label-text")
            = fieldDef.label
        input(type=fieldDef.type name=fieldDef.name)
    
mixin fields( fieldDefs )
    each fieldDef in fieldDefs
        +field( fieldDef )

append headers
    script(src="/public/js/step.js")
    
prepend content
    h2= step.name
    form(method="POST", class="via-ajax")
        +fields( step.class.shape )
        button(type="button", class="redirect-form", value=testRunsUrl) Run
        button Add step
            
    div(id="outcome")        
    div
        textarea(id="code", readonly)