extends layout

block content
    h1 Formicido
    article
        p.
            Formicido aims to generate a continuous stream of data about performance and availability based on user-like activity. A script is composed of a cycle of "paths", each of which comprises a number of "steps". 
        p.
            If a path fails, the script will continue with the next path. If all paths are complete, the script will (by default) start again at the first path.
        