html
    head
        title Formicido
        block headers
            script(src="/public/js/errors.js")
            script(src="/public/js/general.js")
            link(href="/public/css/main.css", rel="stylesheet")
    body
        ul(class="errors", role="alert")
        ul(class="infos", role="alert")
        include partials/menu
        block content
        block foot