html
    head
        title Formicido
        script(src="/public/js/bundle.js")
        link(href="/public/css/main.css", rel="stylesheet")

    body(class=pageClass)
        ul(class="errors", role="alert")
        ul(class="infos", role="alert")
        include partials/menu
        div(class="main")
            block content
            block foot