extends layout
    
block content    
    h1 Scripts
    a(href="/scripts/" + newId) Create
    ul(class="scripts")
        each script in scripts
            li
                a(href="/scripts/" + script.id)
                    span(class="script-name")= script.name
                    span #{script.modified.toDateString()}, #{script.modified.toLocaleTimeString()}
                    
    