extends layout-with-browser
    
mixin field( fieldDef )
    label
        span(class="label-text")
            = fieldDef.label
        input(type=fieldDef.type name=fieldDef.name)
    
mixin fields( fieldDefs )
    each fieldDef in fieldDefs
        +field( fieldDef )

prepend content
    h2= step.name
    form(method="POST", class="via-ajax")
        +fields( step.class.shape )
        button= "Run"
    div(id="outcome")        
    div
        textarea(id="code", readonly)
    ol(id="transcript")